/* GLOBAL */
body {
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
	-ms-text-size-adjust: none;
	margin: 0px;
	font-size:13px;
}
a {
	outline: none !important;
}

.container {
	width: 100%;
	margin-top: 51px;
}
.main {
	width: 100%;
	margin: auto;
}
.clear {
	clear: both;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
    *zoom: 1;
}
* {
	margin: 0px;
}
.main_menu_bg {
	background-color:#0f2b50;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.icon_title {
	text-align: center !important;
	color: #fff;
	width: 100%;
	font-size: 13px;
	font-weight: bold;
	margin: 10px 0px 10px 0px;
	float: left;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
/*li {
	float: left;
}*/
/*div#id03 div#details p, div#id03 div#details div {
	color:red !important; 
	font-family: 'Abel', sans-serif !important;
	font-size:16px !important; 
	text-align: justify !important; 
	padding:10px !important;
	background-color:rgba(255, 255, 255,0) !important;	
	}*/
div#id03 div#details > div {
	padding:10px !important;
	}	
div#id03 div#details > div, div#id03 div#details > div em, div#id03 div#details div span, div#id03 div#details div div,  div#id03 div#details p, div#id03 div#details p span, div#id03 div#details p div,  div#id03 div#details p div span {
	color:#222222 !important; 
	font-family: 'Abel', sans-serif !important;
	font-size:16px !important; 
	text-align: justify !important; 
	background-color:rgba(255, 255, 255,0) !important;
	font-style: normal !important;
	}

.toggle {
	padding: 20px;
}
.title {
	color: #ffffff;
	font-size: 50px;
	padding-top: 14px;
	padding-left: 30px;
}
.clear {
	clear: both;
}

.logo
{
	height: 50px !important;
	position:fixed;
	background-color:#000000;
	z-index:10000000000 !important;
	width:100%;
	top:0px;
}

#menublocks {margin: 7px; overflow: hidden !important;}
#menublocks .wid40 {width:38%; float:left; text-align:center; height: 100% !important;padding-bottom: 10em !important;margin-bottom: -10em;}
#menublocks .wid60 {width:60%; float:right; text-align:center; height: 100% !important;padding-bottom: 10em !important;margin-bottom: -10em;}
.images40 {width:39.5% !important; height:auto !important;}
.images60 {width:25% !important; height:auto !important;}

#menublocks2 {margin: 7px 7px !important;overflow: hidden !important;}
#menublocks2 .wid60 {width:38%; float:right; text-align:center;}
#menublocks2 .wid40 {width:60%; float:left; text-align:center;height: 100% !important;padding-bottom: 10em !important;margin-bottom: -10em;}
#menublocks2.images60 {width:39.5% !important; height:auto !important;}
#menublocks2.images40 {width:25% !important; height:auto !important;}

#menublocks3 {margin: 7px 7px 10px 7px !important; overflow: hidden !important;}
#menublocks3 .wid40 {width:38%; float:left; text-align:center; height: 100% !important;padding-bottom: 10em !important;margin-bottom: -10em;}
#menublocks3 .wid60 {width:60%; float:right; text-align:center; height: 100% !important;padding-bottom: 10em !important;margin-bottom: -10em;}
.images40 {width:39.5% !important; height:auto !important;}
.images60 {width:25% !important; height:auto !important;}

#rightblocks {width:auto !important; margin:0 auto;/*! float: right; */padding-bottom: 10em;margin-bottom: -10em;}
#rightblocks ul {list-style-type: none;margin: 0; padding: 0; width:38%; text-align:center; float:right;}
#rightblocks .wid60 {width:60%; float:right; text-align:center;}

/*#menublocks3 {margin: 0px 7px 10px 7px !important;}
#menublocks3 ul { list-style-type: none; margin: 0;	padding: 0;	overflow: hidden;}
#menublocks3 li {float: left;}
#menublocks3 .wid60 {width:60%; text-align:center;}
#menublocks3 .wid40 {width:38%;  text-align:center;}
#menublocks3.images60 {width:39.5% !important; height:auto !important;}
#menublocks3.images40 {width:25% !important; height:auto !important;}*/

#blocks { width:auto; margin: -3px 7px 7px 7px !important;overflow: hidden !important;}
#blocks .text {font-size: inherit; color: #ffffff; padding:12px;}

#heading {width:auto; margin: 7px 7px 0px 7px !important;overflow: hidden !important;}

#placeblocks { width:auto; margin: 7px !important;overflow: hidden !important;}
#placeblocks .text {font-size: inherit; color: #ffffff; padding:12px;}
#placeblocks .detailblock {font-size: inherit; color: #ffffff; padding:10px 0px;}
#placeblocks ul { list-style-type: none; margin: 0;	padding: 0;	overflow: hidden;}
#placeblocks li {float: left;}
#placeblocks .img {width:80%;}

#placedetailbanner {width:auto; margin: 0px !important;overflow: hidden !important;}
#box1 {
	width: 98%;
	margin: auto;
	opacity: 0.9;
}
.iconText { font-size: inherit; color: #ffffff; padding:35px 0px;}
.searchoutline{outline:none !important;}

/* Toggle Map styles*/
#mapToggle {
 border-radius:5px;
 background-color:#989999;
 color:#fff;
 padding:10px;
 cursor:pointer;
 width:97%;
 margin: 0 auto;
 }
#mapToggle i {
 float:right;
 } 
/* Toggle Map styles ends*/

.jssorb05 {
	position: absolute;
}
.jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
	position: absolute;
	/* size of bullet elment */
	width: 16px;
	height: 16px;
	background: url('../images/b05.png') no-repeat;
	overflow: hidden;
	cursor: pointer;
}
.jssorb05 div {
	background-position: -7px -7px;
}
.jssorb05 div:hover, .jssorb05 .av:hover {
	background-position: -37px -7px;
}
.jssorb05 .av {
	background-position: -67px -7px;
}
.jssorb05 .dn, .jssorb05 .dn:hover {
	background-position: -97px -7px;
}
/* jssor slider arrow navigator skin 22 css */
        /*
        .jssora22l                  (normal)
        .jssora22r                  (normal)
        .jssora22l:hover            (normal mouseover)
        .jssora22r:hover            (normal mouseover)
        .jssora22l.jssora22ldn      (mousedown)
        .jssora22r.jssora22rdn      (mousedown)
        */
.jssora22l, .jssora22r {
	display: block;
	position: absolute;
	/* size of arrow element */
	width: 40px;
	height: 58px;
	cursor: pointer;
	background: url('../images/a22.png') center center no-repeat;
	overflow: hidden;
}
.jssora22l {
	background-position: -10px -31px;
}
.jssora22r {
	background-position: -70px -31px;
}
.jssora22l:hover {
	background-position: -130px -31px;
}
.jssora22r:hover {
	background-position: -190px -31px;
}
.jssora22l.jssora22ldn {
	background-position: -250px -31px;
}
.jssora22r.jssora22rdn {
	background-position: -310px -31px;
}