/* GLOBAL */
body {
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
	-ms-text-size-adjust: none;
	margin: 0px;
	font-size:13px;
	margin:0 auto;
	background-color:#000000;
}
a {
	outline: none !important;
}

.container {
	width: 100%;
	margin-top: 51px;
}
.main {
	width: 100%;
	margin: auto;
}
.clear {
	clear: both;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
    *zoom: 1;
}
* {
	margin: 0px;
}
body.listing{
	background-color:#000000;	
	}
body.details{
	background-color:#0f2b50;	
	}
.icon_title {
	text-align: center !important;
	color: #fff;
	width: 100%;
	font-size: 13px;
	font-weight: bold;
	margin: 10px 0px 10px 0px;
	float: left;
}

.iconText {
	text-align:center;
	}
.full {
	width:100% !important;
	}
.tableWrap {
    overflow-x: hidden;
}
.tableBlock {
    display: table;
    border-collapse: separate;
    border-spacing: 0px;
    /*margin: 0 -15px;*/
}
.tableWrap > .tableBlock {
	border-spacing:5px;
}
.tableWrap > .tableBlock {
	margin-bottom:-5px;
}
.mlft10 {
	margin-left:10px !important;
}
.mb10 {
	margin-bottom:10px !important;
}
.tableRow {
    display: table-row;
}
.tableCell, .tableCell2 {
    display: table-cell;
    padding: 10px;
/*    border: 1px solid red;*/
	vertical-align:middle;
	text-align:center;
	font-family: 'Abel', sans-serif;
	font-size:16px;
	color:#000;
}
.tableCell a, .tableCell2 a {
	color:#ffffff;
	}
.tableCell {
    width: 40%;
}
.tableCell2 {
    width: 60%;
}
.nopad {
	padding:0px;
}
.noborder {
	border:none !important;	
}
.noborderspacing {
	border-spacing:0px !important;
}
.img50 {
	width:50% !important;
	height:auto !important;
	}
	
.img70 {
width:70% !important;
height:auto !important;
}

.img60 {
width:60% !important;
height:auto !important;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

/* Initial menu */

.menu {
	background: #47a3da repeat left top;
	/*margin-left: -285px;*/
	/* start off behind the scenes */
	
	height: 0px;
	position: fixed;
	width: 285px;
	z-index: 1;
	overflow: auto;
}
/* Basic styling */

.jumbotron {
	background-color: #000;
	height: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.menu ul {
	border-top: 1px solid #258ecd;
	list-style: none;
	margin: 0;
	padding: 0;
}
.menu li {
	border-bottom: 1px solid #258ecd;
	font-family: 'Abel', sans-serif;
	line-height: 45px;
	padding-bottom: 3px;
	padding-left: 20px;
	padding-top: 3px;
}
.menu a {
	color: #fff;
	font-size: 16px;
	text-decoration: none;
	text-transform: uppercase;
}
.icon-close {
	cursor: pointer;
	padding-left: 10px;
	padding-top: 10px;
	color: #fff;
}
.icon-close a {
	cursor : pointer;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	line-height: 45px;
	padding-bottom: 3px;
	padding-left: 20px;
	padding-top: 3px;
}
.icon-menu {
	color: #fff;
	cursor: pointer;
	font-family: 'Dosis', sans-serif;
	font-size: 20px;
	font-weight:bold;
	padding-bottom: 11.5px;
	padding-left: 9px;
	padding-top: 11.5px;
	text-decoration: none;
	}
h1 {
	color: #fff;
	padding-bottom: 25px;
	padding-left: 25px;
	padding-top: 25px;
}
.jquery-script-ads {
	padding-left: 25px;
}
.icon-menu i {
	margin-right: 5px;
}
p {
	color: #fff;
	font-size: 15px;
	text-decoration: none;
	text-transform: uppercase;
}
.menuli {
	float: none !important;
}

/* Menu Styles ends */

/*li {
	float: left;
}*/

div#id03 div#details > div {
	padding:10px !important;
	}	
div#id03 div#details > div, div#id03 div#details > div em, div#id03 div#details div span, div#id03 div#details div div,  div#id03 div#details p, div#id03 div#details p span, div#id03 div#details p div,  div#id03 div#details p div span {
	color:#222222 !important; 
	font-family: 'Abel', sans-serif !important;
	font-size:16px !important; 
	text-align: justify !important; 
	background-color:rgba(255, 255, 255,0) !important;
	font-style: normal !important;
	}

.toggle {
	padding: 20px;
}
.title {
	color: #ffffff;
	font-size: 50px;
	padding-top: 14px;
	padding-left: 30px;
}

.logo
{
	height: 50px !important;
	position:fixed;
	background-color:#000000;
	z-index:10000000000 !important;
	width:100%;
	top:0px;
}

div#id02 {
	padding: 10px !important;
}


.images40 {width:39.5% !important; height:auto !important;}
.images60 {width:25% !important; height:auto !important;}
.images40 {width:39.5% !important; height:auto !important;}
.images60 {width:25% !important; height:auto !important;}


#heading {width:auto; margin: 7px 7px 0px 7px !important;overflow: hidden !important;}

#placeblocks { width:auto; margin: 7px !important;overflow: hidden !important;}
#placeblocks .text {font-size: inherit; color: #ffffff; padding:12px;}
#placeblocks .detailblock {font-size: inherit; color: #ffffff; padding:10px 0px;}
#placeblocks ul { list-style-type: none; margin: 0;	padding: 0;	overflow: hidden;}
#placeblocks li {float: left;}
#placeblocks .img {width:80%;}

#box1 {
	width: 98%;
	margin: auto;
	opacity: 0.9;
}
.iconText { font-size: inherit; color: #ffffff; padding:35px 0px;}
.searchoutline{outline:none !important;}

/* Toggle Map styles*/
#mapToggle {
 border-radius:5px;
 background-color:#989999;
 color:#fff;
 padding:10px;
 cursor:pointer;
 width:97%;
 margin: 0 auto;
 }
#mapToggle i {
 float:right;
 } 
/* Toggle Map styles ends*/

/* slider styles */
.jssorb05 {
	position: absolute;
}
.jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
	position: absolute;
	/* size of bullet elment */
	width: 16px;
	height: 16px;
	background: url('../images/b05.png') no-repeat;
	overflow: hidden;
	cursor: pointer;
}
.jssorb05 div {
	background-position: -7px -7px;
}
.jssorb05 div:hover, .jssorb05 .av:hover {
	background-position: -37px -7px;
}
.jssorb05 .av {
	background-position: -67px -7px;
}
.jssorb05 .dn, .jssorb05 .dn:hover {
	background-position: -97px -7px;
}
/* jssor slider arrow navigator skin 22 css */
        /*
        .jssora22l                  (normal)
        .jssora22r                  (normal)
        .jssora22l:hover            (normal mouseover)
        .jssora22r:hover            (normal mouseover)
        .jssora22l.jssora22ldn      (mousedown)
        .jssora22r.jssora22rdn      (mousedown)
        */
.jssora22l, .jssora22r {
	display: block;
	position: absolute;
	/* size of arrow element */
	width: 40px;
	height: 58px;
	cursor: pointer;
	background: url('../images/a22.png') center center no-repeat;
	overflow: hidden;
}
.jssora22l {
	background-position: -10px -31px;
}
.jssora22r {
	background-position: -70px -31px;
}
.jssora22l:hover {
	background-position: -130px -31px;
}
.jssora22r:hover {
	background-position: -190px -31px;
}
.jssora22l.jssora22ldn {
	background-position: -250px -31px;
}
.jssora22r.jssora22rdn {
	background-position: -310px -31px;
}
/* slider styles ends */

/* searchbox styles */
#preheader {width:100%; margin:0 auto;}
#preheader ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
#preheader li {
	float: left;}


#search {

}

#search input[type="text"] {
    background: url(images/search-dark.png) no-repeat 10px 6px #444;
    border: 0 none;
    font: bold 12px Arial,Helvetica,Sans-serif;
    color: #f0f0f0;
    width: 100px;
    padding: 6px 10px 6px 10px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
    }

#search input[type="text"]:focus {
    width: 120px;
    }

/* searchbox styles ends */